*{
    padding: 3px;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: bisque;
    margin-top: 150px;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#secondCode, #secondDescription{
    background-color: lightgrey;
}

#firstCode, #firstDescription{
    background-color: white;
}

#tableHead > th{
    background-color: orangered;
    color: white;
}

/* nav */

nav{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-links{
    background-color: rgba(255, 228, 196, 0.459);
    backdrop-filter: blur(10px);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    border-radius: 15px;
}

.nav-links a:hover{
    background-color: black;
    color: bisque;
}

.sidebar a:hover{
    background-color: black;
    color: bisque;
}

.close-svg:hover {
    fill: bisque;
}

.menu-svg:hover {
    fill: bisque;
}

nav h1{
    font-size: 40px;
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.137);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a {
    width: 100%;
    z-index: 1000;
}

nav ul img{
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 15px;
}

#refrigeration {
    scroll-margin-top: 105px;
}

#range {
    scroll-margin-top: 105px;
}

#homeLaundry {
    scroll-margin-top: 105px;
}

#dishwasherDisposerCompactor {
    scroll-margin-top: 105px;
}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }

    nav > ul > h1{
        font-size: 26px;
    }

    body{
        margin-top: 120px;
    }
}


